
<div class="text-center"><img class="mb-3" src="{{ asset('img/ccm-bn.png') }}" alt="CCM" width="280" height="90"></div>
<h5 class="text-secondary text-center my-4"><strong>Solicitud de Contraseña</strong></h5>

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="form-group">
        <label for="username" class="sr-only">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" placeholder="usuario" name="username" required="required"
               class="form-control"/>
    </div>
    <div>
        <input class="btn btn-primary btn-block" type="submit" id="submit" name="submit" value="Recuperar contraseña"/>
    </div>
</form>